@model IEnumerable<Chwinock.Models.Report>

@{
    ViewBag.Title = "About";
}

<div class="page-lines" style="top:90px;"></div>
<div class="page">
    <div class="page-head">
        <h1>About</span></h1>
    </div>
    <div class="page-content">
        <p>
            <strong>Chwinock</strong> <i>(/CHwīnäk/)</i> <br /> 
            <i>n. pl.</i> chwi-nocks
            <br /><br />
            Literally to <u>Ch</u>ill with <u>Win</u>e on R<u>ock</u>s. A chwinock is a thing of beauty.
        </p>
    </div>
</div>